<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pere.jax.mapper.Board.BoardMapper">

	<sql id='criteria'>
		<trim prefix='(' suffix=') AND ' prefixOverrides='OR'>
			<foreach item='type' collection='typeArr'>
				<trim prefix='OR'>
					<choose>
						<when test='type eq "T"'>title like '%'||#{keyword}||'%'</when>
						<when test='type eq "C"'>content like '%'||#{keyword}||'%'</when>
						<when test='type eq "W"'>writer like '%'||#{keyword}||'%'</when>						
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<!-- 검색조건 추가 -->

	
	<select id="getListWithPage" resultType="pere.jax.domain.BoardVO">
		<![CDATA[
		select bno, title, content, writer, regdate, updatedate, replycnt from
			(
			select /*+INDEX_DESC(tbl_board pk_board) */
			rownum rn, bno, title, content, writer, regdate, updatedate, replycnt from tbl_board
			where
		]]>		
		<include refid='criteria'></include>					
		<![CDATA[		
			rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>	
	<!-- 인덱스를 통한 힌트 사용 -->
	<!-- rownum으로 인한 서브쿼리 사용 -->
	<!-- 게시글 리스트 반환 -->


	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>		
		insert into tbl_board (bno,title,content, writer)
		values (#{bno},#{title}, #{content}, #{writer})
	</insert>
	<!-- 게시글 등록 시 bno는 입력하지 않기 때문에 selectkey 사용 -->
	<!-- 게시글 등록 -->


	<select id="read" resultType="pere.jax.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	<!-- 게시글 반환 -->
	
	
	<delete id="delete">
		delete tbl_board where bno = #{bno}
	</delete>
	<!-- 게시글 삭제 -->


	<update id="update">
		update tbl_board set 
		title = #{title},
		content = #{content},
		updateDate = sysdate
		where bno = #{bno}
	</update>
	<!-- 게시글 수정 -->
	
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
		select count(*) from tbl_board 
		where 
		]]>
		<include refid='criteria'></include>
		<![CDATA[
		bno > 0
		]]>
	</select>
	<!-- 인덱스를 타기 위해 조건 bno > 0 -->
	<!-- 전체 게시글 수 반환-->	
	
	
	<update id='updateReplyCnt'>
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>
	<!-- 댓글 수 업데이트 -->
	
</mapper>
	